/* GENERAL STYLES */

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: normal 16px "Open Sans", sans-serif;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
}

.nav,
li,
a:hover,
a:focus {
  background: none !important;
  cursor: pointer;
}

.primary {
  border-color: #EC1E41;
  border-width: 3px;
  max-width: 50px;
}

.paragraph-title-text {
  font-family: 'Open Sans', sans-serif !important;
}

.paragraph-text {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}


/* MEDIA */

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4.375rem;
    line-height: 1.07143;
  }
  #scrollTopBtn {
    display: none !important;
  }
}


/* NAVBAR */

.site-header {
  background-color: #f8f8f8;
}

.navbar-brand {
  color: #EC1E41 !important;
  font-family: Poppins, sans-serif;
  font-size: 27px;
  letter-spacing: .5px !important;
}

.nav-link {
  padding-right: 20px !important;
  color: #EC1E41 !important;
}

.fa-bars {
  color: #EC1E41
}


/* LANDING PAGE*/

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-size: cover;
  z-index: -4;
}

.hero .background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: -3;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-size: 5.625em;
  margin-bottom: 15px;
  margin-top: -80px;
  letter-spacing: 2px !important;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}


/* BUTTON */

.button {
  margin-top: 10px;
  border-radius: 2px;
  padding: 10px 25px 10px 25px;
  background: white;
}

.button-default {
  border: 1px solid #fff;
  color: #EC1E41;
  background-position: 0 -50%;
  background-repeat: repeat-x;
  transition: background-position 3s ease;
  background-color: #fff;
}

.button-default:hover {
  background-position: 100% 60%;
  color: #FFFFFF !important;
  background-color: #9C99A0;
}

a,
button.button-default {
  transition: 1.5s ease;
  border: 0;
}

.button.button-default:focus {
  border: 0;
}


/* PROJECTS */

.showcase {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin-top: 3vh;
}

.breathing-room {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.showcase h3 {
  font-family: Poppins, sans-serif;
  font-size: 27px;
  letter-spacing: .8px !important;
  font-weight: 600;
}

.section-header {
  font-size: 3.5rem;
  opacity: .65;
}

.left-border {
  border-left: 2px solid #000022;
  padding-left: 15px;
}

.blue {
  color: rgb(13, 67, 183) !important;
}

ul.icon-list li {
  list-style: none;
  padding-bottom: 5px;
}

.proj-one {
  text-align: left;
}

#outfitter,
#sprint,
#melange,
#wayfarer {
  margin-bottom: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

#outfitter-info,
#sprint-info,
#melange-info,
#wayfarer-info {
  padding-top: 40px;
}

.outfitter-img,
.sprint-img {
  margin-top: 20px;
}

.divider {
  margin-top: 125px;
  margin-bottom: 125px;
}


/* PROJECT IMAGE OVERLAY */

.project-item {
  margin-bottom: .812em;
  padding: .2em 1.5em;
  font-size: .75em;
  line-height: 1;
  font-style: italic;
  background-color: #d5c9d5;
  border-radius: 41.625em;
}

.project-img {
  border-radius: 3px;
  display: block;
  width: 100%;
  height: auto;
}

.picContainer {
  position: relative;
  box-shadow: 0px 0px 31px 3px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.picContainer:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  font-size: 20px;
  color: #eaeded !important;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* CONTACT */

.contact-header {
  display: flex;
  text-align: center;
  padding-bottom: 3.75rem;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.75rem;
}

.contact-header-cta {
  margin-bottom: 3.75rem;
}

p.contact-super-title {
  margin-bottom: .1rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #b2b2b2;
  font-weight: 900;
  font-size: .8125rem;
  line-height: 1.0625rem;
  margin: 0;
  padding: 0;
}

.contact-headline {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: capitalize;
  font-size: 3.4375rem;
  line-height: 1;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.contact-header-details {
  margin: 0;
  padding: 0;
  list-style: none !important;
  line-height: 1.6;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  /* text-align: left; */
}

.contact-header-details li {
  color: #8a8a8a !important;
  margin-bottom: 8px;
}

.contact-header-details i {
  color: #8a8a8a !important;
  margin-right: 5px;
}

a[title="contact-link"] {
  color: #8a8a8a !important;
}


/* FOOTER */

footer {
  color: #333;
  padding: 30px;
  background-color: #EAEDED;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;
}

a[title="footer-link"] {
  color: black !important;
  padding-left: 15px;
  padding-right: 15px;
  opacity: .55;
}